@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 20px);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top, 20px);
  }
}
